@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

@media only screen and (max-width: 960px) {
  .container {
    width: 700px;
    height: 500px;
    margin: auto;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .logoBW {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 120px;
    width: 580px;
  }

  .header {
    font-family: Merriweather, Georgia, Times, sans-serif;
    font-size: 34px;
    word-spacing: -0.2rem;
    line-height: 1.1;
    color: #241c15;
    width: 580px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form {
    font-family: Proza Libre, Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #241c15;
    width: 580px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .form_title {
    font-weight: bold;
    font-size: 14px;
    color: #241c15;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  input {
    display: block;
    font-size: 14px;
    color: #241c15;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    font-family: Proza Libre, Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: rgba(36, 28, 21, 0.5);
    background-color: #007c89;
    width: 43%;
  }

  p {
    width: 60%;
    font-size: 12px;
    color: #241c15;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .footer {
    float: none;
    text-align: center;
    font-size: 11px;
    color: rgba(36, 28, 21, 0.65);
  }
}

@media only screen and (min-width: 961px) {
  .container {
    width: 700px;
    height: 500px;
    margin: auto;
  }

  .image {
    margin-left: 0;
    margin-right: 0;
    height: 580px;
    width: 120px;
    float: left;
  }

  .header {
    font-family: Merriweather, Georgia, Times, sans-serif;
    font-size: 34px;
    word-spacing: -0.2rem;
    line-height: 1.1;
    color: #241c15;
    width: 580px;
    height: auto;
    float: right;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logoBW {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .form {
    font-family: Proza Libre, Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: #241c15;
    width: 580px;
    float: right;
  }

  .form_title {
    font-weight: bold;
    font-size: 14px;
    color: #241c15;
  }

  input {
    font-size: 14px;
    color: #241c15;
    width: 100%;
  }

  .button {
    font-family: Proza Libre, Helvetica, Arial, Verdana, sans-serif;
    font-size: 14px;
    color: rgba(36, 28, 21, 0.5);
    background-color: #007c89;
  }

  p {
    width: 60%;
    font-size: 12px;
    color: #241c15;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    float: none;
    text-align: center;
    font-size: 11px;
    color: rgba(36, 28, 21, 0.65);
  }
}
